<section class="bg-primary text-white pattern" data-top-top="transform: translateY(0px);"
         data-top-bottom="transform: translateY(250px);">
  <div class="container pt-10">
    <div class="row mb-2 pb-2">
      <div class="col-md-8 col-lg-6">
        <h1>Votre panier</h1>
        <p><%= @cart.user.email %></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <!-- TODO: CSS fix spacing -->
    <div class="row">
      <!-- Section table des achats -->
      <div class="col-md-8 component">
        <h4>Votre panier</h4>
          <% if @cart.cart_cats.empty? %>
            <div class="d-flex flex-column justify-content-center align-content-center align-items-center m-10">
              <h5>Votre panier est actuellement vide !</h5>
              <%= link_to "Commencer mes achats", root_path, class: "btn btn-primary btn-large" %>
            </div>
          <% else %>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"> </th>
                                    <th scope="col">Image</th>
                                    <th scope="col" class="text-center">Quantité</th>
                                    <th scope="col" class="text-right">Prix</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                              <%= render partial: 'carts/partials/show_list', collection: @cart.cart_cats %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          <% end %>
          <div class="list-group-item d-flex justify-content-between lh-condensed bg-white">
            <span class="w-20">
              <%= link_to "Continue Shopping", cats_path, class: "btn btn-primary btn-sm m-1 text-white" %>
            </span>
            <span class="w-80"></span>
            <% if !@cart.total_cart_price.zero? %>
            <span class="align-content-end">
              <%= form_tag charges_path do %>
              <article>
                <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
                <% end %>
                <label style="font-size: 12pt; color: black;">
                  <span>Total : <%= number_to_currency(@cart.total_cart_price) %></span>
                  <%= hidden_field_tag :amount, @cart.total_cart_price %>
                </label>
                <%= hidden_field_tag :cart_id, @cart.id %>
              </article>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>" data-amount="<%= @cart.total_cart_price_in_cents %>"
                      data-email="<%= @cart.user.email %>" data-name="NextKittens"
                      data-description="The best kitten pictures!" data-panel-label="Paiement de {{amount}}"
                      data-image="<%= asset_url('Kitten_logo.png') %>" data-allow-remember-me="false" data-locale="fr"
                      data-currency="EUR">
              </script>
              <% end %>
            </span>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</section>
